<div class="card-container">
    <div class="default-playlist-container">
        <h2>FlipTune Playlist</h2>
        <div class="card-wrapper">
            
        </div>
    </div>


    <div class="create-playlist-btn-container">
        <button class="create-new-playlist-btn">Create New Playlist</button>
    </div>
</div>

