<div class="card-container">
    <div class="default-playlist-container">
        <h2>Trending Songs</h2>
        <div class="card-wrapper">

        </div>
    </div>

    <div class="myplaylist-container">
        <h2>My Playlist</h2>
        <div class="playlist-card-wrapper">

            <button class="create-playlist-btn">Create Your Playlist</button>
            
        </div>
    </div>
</div>