<div class="new-playlist-conatiner">
    <div class="new-playlist-nav">
        <h2>Create New Playlist</h2>
        <button class="close-playlist-box"><i class="fa-solid fa-xmark"></i></button>
    </div>
    <div class="create-playlist">
        <div class="playlist-name-container">
            <h4>Give it a title...</h4>
            <form>
                <input type="text" placeholder="Name of Playlist..." name="playlist-name">
                <button>Create</button>
            </form>
        </div>
        <h3 class="playlist-name"></h3>
        <h4 class="h4">Quick picks:</h4>
        <div class="suggestion-btns">
            <button><i class="fa-solid fa-bolt-lightning" style="color: goldenrod;"></i>
                Motivational</button>
            <button><i class="fa-solid fa-dumbbell" style="color: slateblue;"></i> Gym</button>
            <button><i class="fa-solid fa-book" style="color: gainsboro"></i> Study</button>
            <button><i class="fa-solid fa-bullseye" style="color: #ff6b6b;"></i> Deep Work</button>
            <button><i class="fa-brands fa-angellist" style="color: #b7b7a4;"></i> Chill</button>
            <button><i class="fa-solid fa-spa" style="color: forestgreen;"></i> Calm</button>
            <button><i class="fa-solid fa-headphones" style="color: #b3a394;"></i> LoFi</button>
            <button><i class="fa-solid fa-compact-disc" style="color: #7d8cc4;"></i> Old Songs</button>
            <button><i class="fa-solid fa-tent" style="color: #d2b48c;"></i> Daily Escape</button>
            <button><i class="fa-solid fa-moon" style="color: #f7e7ce;"></i> Night Drive</button>
        </div>
        <button class="name-done-btn">Done</button>
        <form class="global-search-form">
            <h4>Add songs to your playlist</h4>
            <input type="text" placeholder="Search music...">
            <button>Search</button>
            <h4>Try these:</h4>
            <div class="search-options">
                <button>Node.js Tutorial</button>
                <button>React Tutorial</button>
                <button>90s Songs</button>
                <button>Shawn Mendes</button>
                <button>Imagine Dragons</button>
            </div>
        </form>

        <h3 class="query-text"></h3>

        <div class="search-card-container">

        </div>
        <a href="/tunes"><button class="finish-saving-btn">Finish</button></a>


        <div class="loading-box">
            <p><i class="fa-solid fa-spinner fa-spin-pulse"></i></p>
        </div>
    </div>
</div>