<div class="edit-form-container">
    <div class="edit-nav">
        <h2>Edit this playlist</h2>
        <button class="close-edit-form"><i class="fa-solid fa-xmark"></i></button>
    </div>
    <div class="edit-form">
        <h3><i class="fa-solid fa-bolt-lightning" style="color: goldenrod;"></i>
            Motivational</h3>
        <form class="edit-search-form">
            <h4>Add songs to your playlist</h4>
            <input type="text" placeholder="Search music...">
            <button>Search</button>
        </form>
        <h3 class="query-text"></h3>

        <div class="search-card-container">

        </div>
        <div class="loading-box">
            <p><i class="fa-solid fa-spinner fa-spin-pulse"></i></p>
        </div>
        <a href="/tunes"><button class="finish-update-btn">Update</button></a>
    </div>

</div>