<div class="right">

    <div class="profile-container">
        <img src="/assets/background image2.png" alt="profile-img">
    </div>

    <button class="back-btn"><i class="fa-solid fa-chevron-left"></i></button>

    <div class="scroll-container">
        <div class="placeholder-img">
            <img src="" id="img" crossorigin="anonymous" alt="cover-img">
        </div>
        <div id="player" class="item"></div>
    </div>

    <!-- Bubble Buttons -->
    <div class="controls">
        <button class="active left-btn"></button>
        <button class="right-btn"></button>
    </div>

    <div class="player-controller">
        <p class="song-name"></p>
        <p class="author"></p>
        <div class="progress-bar">
            <div class="progress-fill"></div>
            <div class="progress-ball"></div>
        </div>
        <div class="duration-container">
            <p class="duration-left">00:00</p>
            <p class="duration-right">00:00</p>
        </div>
        <div class="play-control">
            <button class="btn skip-prev-btn"><i class="fa-solid fa-backward-step"></i></button>
            <button class="btn play-btn"><i class="fa-solid fa-play"></i></button>
            <!-- <i class="fa-solid fa-pause"></i> -->
            <button class="btn skip-next-btn"><i class="fa-solid fa-forward-step"></i></button>
        </div>
    </div>
    
</div>
