<div class="local-search-container">
    <h2>Search Your <span style="color: dodgerblue;">Videos</span></h2>
    <form class="local-search-form">
        <input type="text" placeholder="Search music..." autocomplete="off">
        <button>Search</button>
    </form>
    <div class="search-nav">
        <h2>Search Your <span style="color: dodgerblue;">Videos</span></h2>
        <button class="close-local-search-box"><i class="fa-solid fa-xmark"></i></button>
    </div>
    <h3 class="query-text"></h3>

    <div class="local-search-card-container">
        <!-- <div class="card">
            <img src="/assets/moana-disney-poster.jpeg" alt="">
            <p class="video-name">Moana full movie 480p {Hindi-English}</p>
            <p class="channel-name">Disney</p>
            <button class="video-play-btn"><i class="fa-solid fa-circle-play"></i>
                Play</button>
        </div> -->
    </div>
    <div class="notification">
        <p>
            Not Found!
        </p>
        <button class="close-notification"><i class="fa-solid fa-xmark"></i></button>
    </div>
    <div class="loading-box">
        <p><i class="fa-solid fa-spinner fa-spin-pulse"></i></p>
    </div>
</div>