* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* background-image: linear-gradient(45deg,dodgerblue,purple,violet,orangered); */
    /* background-color: #0f0f15;
    background-image:
        radial-gradient(at 10% 10%, #2d1b4d 0%, transparent 50%),
        radial-gradient(at 90% 90%, #421a2b 0%, transparent 50%);
     */
    background: radial-gradient(circle at 80% 20%, rgba(46,139,87,0.8) 0%, transparent 50%),
    radial-gradient(circle at 10% 80%, rgba(65,105,255,0.3) 0%, transparent 60%),
    #0d0d1a;
    height: 100vh;
    background-attachment: fixed;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    padding: 20px;
    gap: 20px;
    /* box-sizing: border-box; */
    height: 100vh;
}


/* Left Section */

.main .left {
    width: 70%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}



.main .left .nav {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 7px;
}

.main .left .nav .logo {
    font-size: 23px;
    font-weight: 500;
}

.main .left .nav ul {
    display: flex;
    align-items: center;
}


.main .left .nav ul li {
    list-style-type: none;
    margin-left: 30px;
}

.main .left .nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

.main .left .nav ul li form {
    /* padding: 10px; */
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
}

.main .left .nav ul li form input {
    padding: 7px 12px;
    /* width: 200px; */
    width: 18vw;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 18px;
    color: #fff;
}

.main .left .nav ul li form button {
    background: transparent;
    border: none;
    font-size: 20px;
    margin-right: 10px;
}

.main .left .nav ul li form button:hover {
    color: gray;
    cursor: pointer;
}

.main .left .nav .btn {
    padding: 6px 15px;
    font-size: 17px;
    font-weight: 500;
    border: none;
    border-radius: 20px;
}

.login-btn {
    background-color: transparent;
    color: #fff;
}

.main .left .card-container {
    width: 100%;
    min-height: 0;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 7px;
    /* overflow: auto; */
    /* flex-grow: 1; */
    /* border: 1px solid chocolate; */

}

.card-container .card-wrapper {
    width: 100%;
    /* min-height: 0; */
    padding: 5px;
    flex: 1;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    gap: 30px;
    grid-auto-rows: 230px;
    margin: 20px auto 0 auto;
    justify-content: safe center;
}

.card-wrapper .card {
    display: flex;
    flex-direction: column;
    /* background-color: rgba(255, 255, 255, 0.1); */
    background: transparent;
    backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
    transition: 0.3s;
}

.card-wrapper .card:hover {
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    box-shadow: 5px 5px 10px black;
    cursor: pointer;
}

.card-wrapper .card img {
    height: 0;
    width: 100%;
    flex-grow: 1;
    border-radius: 7px;
    object-fit: cover;
    object-position: center;
    /* filter: brightness(0.85); */
    box-shadow: 0px 0px 5px black;
}

.card-wrapper .card p {
    margin-top: 10px;
}

.card-wrapper .card .vid-name {
    font-size: 18px;
    font-weight: 500;
    color: #e5e7eb;
}

.card-wrapper .card .channel-name {
    font-size: 15px;
    font-weight: 500;
    color: rgb(199, 195, 195);
}

/* Right Section */

.main .right {
    width: 30%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back-btn {
    display: none;
}

.main .right .profile-container {
    margin-left: auto;
}

.main .right .profile-container img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.1);
}

.scroll-container {
    height: 230px;
    width: 250px;
    margin-top: 20px;
    box-shadow: 5px 5px 15px black;
    display: flex;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    /* padding: 0; */
}

.scroll-container .placeholder-img {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 255px;
    /* opacity: 0; */
    transition: linear 0.3s;
}

.scroll-container .placeholder-img img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    /* position: absolute; */
}

#player {
    width: 100%;
    height: 100%;
    /* position: absolute; */
}

iframe {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    /* display: none; */
    /* position: absolute; */
    /* left: 100%; */
}

.controls {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.controls button {
    height: 10px;
    width: 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.active {
    /* background-color: #1DB954; */
    background-color: #533de0;
}

.right .player-controller {
    width: 100%;
}

.right .player-controller p {
    text-align: center;
    margin-top: 10px;
}

.right .player-controller .song-name {
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;

}

.player-controller .author {
    font-size: 16px;
    font-weight: 500;
    color: gainsboro;
}

.right .player-controller .progress-bar {
    /* width: inherit; */
    width: 100%;
    background-color: gainsboro;
    border-radius: 5px;
    height: 5px;
    margin-top: 30px;
    position: relative;
    cursor: pointer;
}


.progress-bar .progress-ball {
    height: 14px;
    width: 14px;
    border-radius: 50%;
    /* background-color: #0f0f15; */
    background-color: slateblue;
    position: absolute;
    /* left: 4.5px; */
    top: 50%;
    transform: translate(-50%, -50%);
    /* display: none; */
}

.progress-fill {
    --progress-width: 0%;
    position: relative;
    border-radius: 5px;
}

.progress-fill::before {
    content: "";
    width: var(--progress-width);
    height: 5px;
    border-radius: 5px;
    /* background-color: black; */
    background-color: #533de0;
    position: absolute;
    left: 0;
}

.player-controller .duration-container {
    display: flex;
    justify-content: space-between;
}

.player-controller .play-control {
    margin: 20px auto;
    width: fit-content;
}

.player-controller .play-control .btn {
    background-color: transparent;
    border: none;
    font-size: 23px;
    color: antiquewhite;
    cursor: pointer;
}

.player-controller .play-control .play-btn {
    margin-left: 20px;
    margin-right: 20px;
}