@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
}

@media (max-width: 768px) {
    .desktop-container {
        display: none;
    }
    .mobile-container {
        display: block;
    }
}


@media (min-width: 769px) {
    .desktop-container {
        display: block;
    }
    .mobile-container {
        display: none;
    }
}
